@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('../assets/imgs/light-watercolor-texture-background-wallpaper.jpg');
  background-attachment: fixed;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(50vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

h1 {
  color: #6883BA
}


.container {
  display: flex;
  width: 80%;
  margin: auto;

  
  border-radius:15%;
  
  
}


.sobremim {
  display: flex;
  width: 80%;
  margin: auto;
  text-align: flex-start;
  padding-left: 40px;
  padding-bottom: 40px;
  
}

.containerduascolunas{
  display: flex;
  
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 100px;
  padding: 50px;
  margin-left:20px;
  
  border-radius:15%;
  
}


.testedois {
  justify-content: flex-start;
  background-color: #fff;
  display:flex;
  flex-direction: column;
  text-align: center;
  
  height: auto;
  width: auto;
  margin: auto;
  padding: 40px;
  box-shadow: 0 4px 8px grey;
  opacity: 0; /* Começa invisível */ 
  transform: translateY(20px); /* Ligeiramente deslocada para baixo */ 
  filter: blur(40px); /* Inicia com desfoque */
  
  border-radius:10%;
  
  
  
  transition: opacity 1s ease, transform 1s ease, filter 1s ease; /* Transição suave */
 

}




.testedois.escondido { opacity: 0; transform: translateY(20px); filter: blur(40) } 
   
   
.testedois.visivel { opacity: 1; transform: translateY(0); filter: blur(0)}



.testetres {
  justify-content: flex-start;
  background-color: #fff;
  display:flex;
  flex-direction: column;
  text-align: center;
  border-radius:15%;
  
  height: 1000px;
  width: 800px;
  margin: auto;
  box-shadow: 0 4px 8px grey;
  opacity: 0; /* Começa invisível */ 
  transform: translateY(20px); /* Ligeiramente deslocada para baixo */ 
  filter: blur(40px); /* Inicia com desfoque */
  
  
  transition: opacity 1s ease, transform 1s ease, filter 1s ease; /* Transição suave */
 

}




.testetres.escondido { opacity: 0; transform: translateY(20px); filter: blur(40) } 
   
   
.testetres.visivel { opacity: 1; transform: translateY(0); filter: blur(0)}



.button {
  background-color:#B0E298;
  color: white;
  border-radius: 50%;
  border: none;
  width: 150px; /* Tamanho grande */ height: 150px; /* Tamanho grande */
  font-size: 16px; /* Tamanho da fonte */ cursor: pointer; transition: background-color 0.3s ease, transform 0.3s ease; /* Transição suave */
}

.button:hover { background-color: #ffafcc; /* Cor ao passar o mouse */ transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */ } 
.button:focus { outline: none; /* Remove o contorno ao focar */ }

.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bde0fe; /* Cor de fundo da navbar */
  padding: 15px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra na navbar */
  box-sizing: border-box;
  width: 100%;
}
.header{
  padding-left: 20px;
  
}
.header h2{
  color:white;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  
}

.nav-items{
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-botao {
  color: white;
  background-color: #a2d2ff; /* Cor de fundo dos botões */
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  border-radius: 20px; /* Bordas arredondadas */
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; /* Transições suaves */
}


.nav-botao.loogin {
  color: black;
  background-color: #f0f0f0; /* Cor de fundo dos botões */
  
 }

.nav-botao.caadastro {
  color: white;
  background-color: #ffafcc; /* Cor de fundo dos botões */
  }



.nav-botao:hover {
  background-color: #ffafcc; /* Cor de fundo ao passar o mouse */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
  transform: scale(1.05); /* Aumenta o tamanho */
}
.nav-botao:hover.caadastro{
  background-color: #fff;
  color: black;
}

.nav-botao:focus {
  outline: none; /* Remove o contorno ao focar */
}

.sobremim {
  background-color: white;
  color: black;
  border-radius: 0%;
}

.agora {
  font-weight: 800;
}


h2 {
  
  color: #E072A4;
  
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  
}
.containerdois h2 {
  color: #B0E298;
}

/* BANNER */

.banner {
  height: 450px;
  color: black;
  background-image: url('../assets/imgs/inicio.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  margin: auto;
  box-shadow: 0 4px 8px grey;
  opacity: 0.8;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 36px;
  
  text-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
}

.banner .container span {
  font-weight: 800;
}


/* BANNER */

.bannerdois {
  height: 450px;
  color: black;
  background-image: url('../assets/imgs/inicio2.png');
  background-size: cover;
  width: 100%;
  margin: auto;
  box-shadow: 0 4px 8px grey;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.8;

}

.bannerdois .container {
  
  align-items: center;
  height: 100%;
}

.bannerdois .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 36px;
  
  text-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
}

.containercomfundo{
  text-align: center;
  background-color: white;
  width: 600px;
  height: 400px;
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0.5);
}

.bannerdois .container span {
  font-weight: 800;
}

.bannerdois .container .div_botao { 
  margin-left: 250px;
}




/* MISSÃO VISÃO VALORES */

.citacao {
  padding: 80px;
  text-align: center;
  font-size: 60px;
  opacity: 0; /* Começa invisível */ transform: translateY(20px); /* Ligeiramente deslocada para baixo */ transition: opacity 1s ease, transform 1s ease, filter 1s ease;/* Transição suave */
  filter: blur(40px); /* Inicia com desfoque */
  
  
  transition: opacity 1s ease, transform 1s ease, filter 1s ease; /* Transição suave */
 
}

.citacao.escondido { opacity: 0; transform: translateY(20px); filter: blur(40) } 
   
   
.citacao.visivel { opacity: 1; transform: translateY(0); filter: blur(0)}

.definicao{
  text-align: center;
  margin-left: 350px;
  width: 1000px;

opacity: 0; /* Começa invisível */ transform: translateY(20px); /* Ligeiramente deslocada para baixo */ transition: opacity 1s ease, transform 1s ease, filter 1s ease;/* Transição suave */
filter: blur(40px); /* Inicia com desfoque */

transition: opacity 1s ease, transform 1s ease, filter 1s ease; /* Transição suave */

}

.definicao.escondido { opacity: 0; transform: translateY(20px); filter: blur(40) } 
 
 
.definicao.escondido.visivel { opacity: 1; transform: translateY(0); filter: blur(0)}


.titulo {
  padding: 20px;
  text-align: center;
  opacity: 0; /* Começa invisível */ transform: translateY(20px); /* Ligeiramente deslocada para baixo */ transition: opacity 1s ease, transform 1s ease, filter 1s ease;/* Transição suave */
  filter: blur(40px); /* Inicia com desfoque */
  
  
  transition: opacity 1s ease, transform 1s ease, filter 1s ease; /* Transição suave */
 
}

.titulo.escondido { opacity: 0; transform: translateY(20px); filter: blur(40) } 
   
   
.titulo.visivel { opacity: 1; transform: translateY(0); filter: blur(0)}



.social {
  background-color: #ededed;
  display: flex;
  width: 100%;
  margin: auto;
  box-shadow: 0 4px 8px grey;
  opacity: 0; /* Começa invisível */ transform: translateY(20px); /* Ligeiramente deslocada para baixo */ transition: opacity 1s ease, transform 1s ease, filter 1s ease;/* Transição suave */
  filter: blur(40px); /* Inicia com desfoque */
  
  
  transition: opacity 1s ease, transform 1s ease, filter 1s ease; /* Transição suave */
 
}

.social.escondido { opacity: 0; transform: translateY(20px); filter: blur(40) } 
   
   
.social.visivel { opacity: 1; transform: translateY(0); filter: blur(0)}



.bloco {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  padding: 40px;
}

.teste {
  justify-content: flex-start;
  background-color: #fff;
  display:flex;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  margin: 0;
  height: 250px;
  width: 25%;
  margin: auto;
  box-shadow: 0 4px 8px grey;
  opacity: 0; /* Começa invisível */ 
  transform: translateY(20px); /* Ligeiramente deslocada para baixo */ 
  filter: blur(40px); /* Inicia com desfoque */
  
  
  transition: opacity 1s ease, transform 1s ease, filter 1s ease; /* Transição suave */
 

}






.video {
  justify-content: flex-start;
  background-color: #fff;
  display:flex;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  margin: 0;
  height: 250px;
  width: 25%;
  margin: auto;
  box-shadow: 0 4px 8px grey;
  opacity: 0; /* Começa invisível */ 
  transform: translateY(20px); /* Ligeiramente deslocada para baixo */ 
  filter: blur(40px); /* Inicia com desfoque */
  
  
  transition: opacity 1s ease, transform 1s ease, filter 1s ease; /* Transição suave */
 

}


.video-content { position: absolute; /* Faz o vídeo preencher a div */ top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; /* Garante que o vídeo cubra a área da div */ }


.video.escondido { opacity: 0; transform: translateY(20px); filter: blur(40px); /* Mantém o desfoque na posição escondida */ } 
   
   
.video.visivel { opacity: 1; transform: translateY(0); filter: blur(0); /* Remove o desfoque quando visível */}




.teste.escondido { opacity: 0; transform: translateY(20px); filter: blur(40px); /* Mantém o desfoque na posição escondida */ } 
   
   
.teste.visivel { opacity: 1; transform: translateY(0); filter: blur(0); /* Remove o desfoque quando visível */}




.social .container {
  justify-content: center;
}


.social .containerdois {
  justify-content: left;
  margin-left: 300px;
}



.social .containertres {

  justify-content: flex-end;
  margin-right:0px;
}


.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
  
}

.titulodois {
  justify-content: center;
  width: 100%;
  text-align: center;
  margin: 20px 0;
  display: block;
  clear: both;
}

/* testar se consigo deixar uma div do lado da outra */

.social .container .boxdiferenciado {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
  
}





.social p {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}







.boxdois img {
  width: 170px;
}


.boxdois {
  display: flex;
  flex-direction: column;
  align-items: right;
}


.carousel-container {
  position: relative;
  width: 100%; /* Ajuste conforme necessário */
  margin: auto;
  overflow: hidden; /* Esconde o conteúdo extra */
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Suaviza o movimento */
}

.carousel-slide {
  display: flex;
  width: 100%;
}

.carousel-item {
  flex: 0 0 100%; /* Cada item ocupa 100% do contêiner */
  box-sizing: border-box;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}





/* FOOTER */

.footer {
  background-color: #32b9cd;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/login.png');
  background-size: cover;
}


.cadastro {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/fundocadastrotransparente.png');
  background-size: cover;
}

.cadastro .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}


.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #fff;
  box-shadow: 0 4px 8px grey;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: palevioletred;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
  
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #32b9cd;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #ED145B;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}


/*
.teste .diferente {

border-radius:15%

}
*/


.div_texto{
  justify-content: end;
  align-items: end;
  text-align: center;
  margin-left: 820px;
  margin-top: 0;
  margin-bottom: 130px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}

.carrossel { position: relative; max-width: 1000px; margin: auto; overflow: hidden;  } 
.carrossel-container { display: flex; transition: transform 0.5s ease-in-out;  } 
.carrossel-item { min-width: 100%; box-sizing: border-box;  } 
.carrossel-item img { width: 100%; display: block; border-radius:15%} button.prev, 
button.next { position: absolute; top: 50%; transform: translateY(-50%); background-color: rgba(0,0,0,0.5); color: white; border: none; padding: 10px; cursor: pointer; } 
button.prev { left: 0; }
 button.next { right: 0; } 
button:hover { background-color: rgba(0,0,0,0.8); }